 @import "tailwindcss";

 @font-face {
  font-family: 'AnandaNeptouch';
  src: url('/fonts/AnandaNeptouch.ttf') format('truetype');
}
.contrast-mode {
  background-color: #000;
  color: #fff;
}

.contrast-mode .bg-green-50 {
  background-color: #000 !important;
}

.contrast-mode .text-green-700 {
  color: #fff !important;
}


.input-field {
  @apply w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500 text-sm shadow-sm;
}
